//
// Brand color v2.4
// ==========================================================================


// MainBlue
//
// '<colorname>-0' is the default color.
// --------------------------------------------------------------------------

$mainblue-d1:               #2c5ae9;
$mainblue-0:                #4c80f1;
$mainblue-l1:               #87b1f3;


// Grey
// --------------------------------------------------------------------------

$grey-9:                    #292a2b;
$grey-8:                    #363a3c;
$grey-7:                    #4d5256;
$grey-6:                    #81878b;
$grey-5:                    #a9afb3;
$grey-4:                    #ced3d6;
$grey-3:                    #e1e4e6;
$grey-2:                    #eaeeef;
$grey-1:                    #f1f5f5;
$grey-0:                    #f8fafb;


// UI sub color
// --------------------------------------------------------------------------

// Default color
$white:                     #ffffff;
$black:                     #000000;
$validator:                 #ff00ff;

// Red
$red-d1:                    #f24147;
$red-0:                     #ff5d5d;
$red-l1:                    #ff8e89;

// Green
$green-d1:                  #1bbf83;
$green-0:                   #35d48d;
$green-l1:                  #76e8ad;
